.body{
    position:relative;
    left:15%;
    width:85%;
    top: 100px;
    font-family: 'Source Sans Pro', sans-serif;
}

#title{
    text-align: left;
    padding-left:30px;
    padding-top:20px;
}

#bodyTable{
    position:relative;
    left:5%;
    width:73%
}